@model IEnumerable<TestShowing>;
@using System.Security.Claims;
@using LayerDAL.Settings;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@{
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Описание теста</title>
</head>
<body>
    <div class="registrationDiv">

        @foreach (var item in Model)
        {
            <div class="test-card">
                <h3 class="test-title">@item.nameOfTest</h3>
                <p class="skill">Навык: @item.nameOfSkill</p>
                <p class="question-count">Количество вопросов: @item.countOfQuestions</p>

                @using (Html.BeginForm("OpenTestInfo", "Tests", FormMethod.Post))
                {
                    @Html.Hidden("id", item.idOfTest)
                    @Html.Hidden("countOfQuestions", item.countOfQuestions)
                    <button class="edit-button" type="submit">Информация</button>
                }

            </div>
        }



    </div>





</body>
</html>