@model IEnumerable<ResumeShowing>;
@using System.Security.Claims;
@using LayerDAL.Settings;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@{
        Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ваши резюме</title>
    <script>
        function confirmDelete() {
            var result = confirm("Вы уверены, что хотите удалить?");
            if (result) {
                confirmationField.value = "true";
            } else {
                confirmationField.value = "false";
            }
            return result;
        }
    </script>
</head>
<body>

    <div class="SearchView">
        @foreach (var item in Model)
        {

            <div class="resume">
                @using (Html.BeginForm("DeleteResume", "Profile", new { id = item.idOfResume }, FormMethod.Post))
                {
                    <input type="hidden" name="confirmation" value="true" id="confirmationField" />
                    <button class="close-button" onclick="return confirmDelete()"></button>
                }
                <img src="~/pic/@item.Photo" alt="Фото" class="profile-picture">
                <div class="resume-details">

                    <p class="name"> <h2 class="position">@item.vacansyName</h2> @item.Surname @item.NameOfUser @item.SecName</p>
                    <p class="contact"><h2>Контакты:</h2>Телефон: @item.Phone <br>Email: @item.email</p>
                    <div class="about-me">
                        <br>
                        <h2>Обо мне:</h2>
                        <p>@item.aboutMe</p>
                    </div>
                    <div class="skills">
                        <h2>Навыки:</h2>
                        <ul>
                            @{
                                foreach (var skill in item.proovedSkills)
                                {
                                    if (skill != "")
                                    {
                                        <li class="proovedSkill">@skill</li>
                                    }
                                }
                            }
                            @{
                            @foreach (var skill in item.defaultSkills)
                            {
                                if (skill != "")
                                {
                                    <li class="defSkill">@skill</li>
                                }
                            }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }



    </div>



</body>
</html>